{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
<div class="container" style="padding: 4rem 0;">
    <h1>Mentions légales</h1>
    {# Contenu à remplir #}
</div>
{% endblock %}