{% extends 'espace.html.twig' %}

{% block title %}Supprimer utilisateur{% endblock %}

{% block body %}

<h1>Supprimer utilisateur</h1>

<p>Êtes vous sûres de vouloir supprimer l'utilisateur ?</p>

<form method="post">
    <button>Oui</button>

    <a href="{{ path('app_show_utilisateurs', {'id': id}) }}">Non</a>
</form>

{% endblock %}
