{% extends 'espace.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

<h1>Modifier utilisateur</h1>

{{ include('admin/gestion_utilisateurs/_form.html.twig') }}

{% endblock %}
