# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:
    documents_directory: '%kernel.project_dir%/var/documents'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'